head {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
nav {
    float:center;
    text-align: center;
  }
  
nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
nav ul li a {
    display: block;
    padding: 10px 50px 10px 50px; 
    color: #fff;
    text-decoration: none;
  }
nav ul li:hover {
    background: green;
  }
  body {
    background-image:url("/Pagina web/imagenes/fondo3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}
.texto{
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
  margin-inline-start: -5em;
  margin-inline-end: 0em;
  margin-block-start: 12em;
  margin-block-end: 0em;
}
hr{
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  margin-block-start: 20em;
  margin-block-end: 0;
}
footer{
  text-align: right;
  margin-inline-start: 80em;
  margin-inline-end: 1em;
  margin-block-start: 0em;
  margin-block-end: 1em;
}